<style>
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 /* #social-fb {
     color: #3B5998;
 }
 #social-tw {
     color: #4099FF;
 }
 #social-gp {
     color: #d34836;
 }
 #social-em {
     color: #f39c12;
 }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
*/
</style>

<div class="col-lg-12  col-md-12 col-sm 12 col-xs-12 ">
    <div class="row">
        <div class="epc">
            <div class="ts-section-top-footer">
                <div class="ts-top-footer" style="min-height:8px;">
                    <div class="container">
                        <!--<div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 ts-contact-email-info contact-info">
                                <span><i class="fa fa-envelope-o"></i></span>
                                <a href="mailto:info@silverzone.org" target="_blank">Email us</a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ts-contact-phone-info contact-info">
                                <span><i class="fa fa-phone"></i></span>
                                <p>+91-1800-116-010</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ts-contact-livechat-info contact-info">
                                <span><i class="fa fa-comment-o"></i></span>
                                <a href="#">Live chat with us</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" style="padding-bottom:5px!important;">
    <div class="container-fluid">
        <div class="col-lg-12  col-md-12 col-sm 12 col-xs-12 text-center">
            <section class="links">
                <div class="row">
                    <div class="col-md-2 col-xs-6 col-sm-3">
                        <h4 class="text-left">Website Links</h4>
                        <ul>
                            <!--   <li><a ui-sref="silverzone_home">Home</a></li>-->
                            <li><a ui-sref="aboutUs">About Us</a></li>
                            <li><a ui-sref="freelance">Become Co-ordinator</a></li>
                            <li><a ui-sref="testimonail">Testimonials</a></li>
                            <li><a ui-sref="career">Career</a></li>
                            <li> <a ui-sref="contactUs">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-6 col-sm-3 ">
                        <h4 class="text-left">Olympiads</h4>
                        <ul style="float:left">
                            <li><a ui-sref="aboutSubject({subjectName:'iio'})">IIO</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'iom'})">IOM</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'ios'})">IOS</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'ioel'})">IOEL</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'iflo'})">IFLO</a></li>
                        </ul>
                        <ul style="float:left;margin-left:30px;">
                            <li><a ui-sref="aboutSubject({subjectName:'abho'})">ABHO</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'itho'})">ITHO</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'isso'})">ISSO</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'irao'})">IRAO</a></li>
                            <li><a ui-sref="aboutSubject({subjectName:'skgko'})">SKGKO</a></li>
                        </ul>
                    </div>
                    <!--<div class="col-md-2 col-sm-3  col-xs-4">
                        <h4 class="text-left">Follow Us</h4>
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/Olympiads.Asia/" target="_blank" class="fa fa-facebook-square " style="color:#3b5998"><span class="label">Facebook</span></a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/SZOlympiads" target="_blank" class="fa fa-twitter-square " style="color:#00aced"><span class="label">Twitter</span></a>
                            </li>
                            <li class="googleplus">
                                <a href="https://plus.google.com/+SilverZoneFoundation" target="_blank" class="fa fa-google-plus-square" style="color:#dd4b39"><span class="label">Google+</span></a>
                            </li>
                            <li class="linkedin">
                                <a href="https://www.linkedin.com/in/silverzone-foundation-042a77128/" target="_blank" class="fa fa-linkedin-square" style="color:#007bb6"><span class="label">LinkedIn</span></a>
                            </li>
                            <li class="youtube">
                                <a href="https://www.youtube.com/channel/UCVb34obnlNSQh8-vySH0Ssw" target="_blank" class="fa fa-youtube-square" style="color:#bb0000"><span class="label">Youtube</span></a>
                            </li>
                        </ul>
                    </div>-->
                    <div class="col-md-2 col-sm-3 col-xs-8 col-md-offset-2">
                        <h4 class="text-left">Our Location</h4>
                        <p class="text-left" style="padding-top:0px;line-height:25px;">
                            <b>Silverzone Foundation</b><br />
                            B-2, Ansal Chamber-II,
                            Bhikaji Cama Place
                            New Delhi-110066(India)
                            Ph:-011-26166210-11-12
                            <div class="text-left center-block">
                                <a href="https://www.facebook.com/Olympiads.Asia/" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="https://twitter.com/SZOlympiads" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                <a href="https://plus.google.com/u/0/103171723169318154454" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                <a href="mailto:info@silverzone.org" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                                <a href="https://www.linkedin.com/in/silverzone-foundation-042a77128/" target="_blank"><i id="social-em" class="fa fa-linkedin-square fa-3x social"></i></a>
                            </div>
                        </p>
                    </div>
                    <div class="col-md-4 col-xs-12" style="background:none;">
                        <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.051851784521!2d77.18634511456712!3d28.56820564374131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d84185aaaab%3A0xdadf7f483e76718a!2sSilverZone+Foundation!5e0!3m2!1sen!2sin!4v1488259162453" width="100%" height="180" frameborder="2" style="border:8;" allowfullscreen></iframe>
                        </p>
                    </div>
            </section>
             
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <ul class="copyright text-left">
                        <li>
                            <!--<span style="float:left;"></span><span style="float:left;margin:0px 2px;"><img src="images/silverzone_logo.png" class="img-responsive"></span>
                            <span id="currentYear" style="margin-left: 5px; color: #f6f6f6;">
                            </span>-->Copyright &copy; 2017, Silverzone. All rights reserved.
                        </li>
                        <li>/</li>
                         <li><a href="">privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2" style="background:none;">
     
        
          </div>      
                <div class="col-md-5 col-sm-5 left_side">
                    <ul class="list-inline text-right ">
                        <li>
                            <a href="http://www.hitwebcounter.com" target="_blank">
                                <img src="http://hitwebcounter.com/counter/counter.php?page=6614270&style=0038&nbdigits=7&type=page&initCount=0" title="good hits" Alt="good hits" border="0" style="font-size:24px;">
                            </a>
                        </li>

                        <li><a ui-sref="media">Media</a></li>
                        <li><a ui-sref="gallery_List">Gallery</a></li>
                        <li><a ui-sref="downloads">Downloads</a></li>
                        <!--<li><a ui-sref="contactUs">Contact Us</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script language="JavaScript" type="text/javascript">
    var yr = new Date().getFullYear();
    $('#currentYear').html(yr);
</script>

