<div class="pull-left">  
    <strong>Teacher({{AllCount}})</strong>
</div>

<div class="pull-right">
    <button type="button" ng-if="IsActiveList.length" class="btn btn-default" ng-click="Delete()"><strong>Delete({{IsActiveList.length}})</strong></button>
    <select ng-model="Filter.IsTeacherApp">
        <option value="1">By App</option>
        <option value="0">Other</option>
    </select>
    
    <span ng-include="'Templates/Common/Partial/Active_InActive_Filter.html'"></span>
    <button type="submit" class="btn btn-default">Search</button>
</div>

