<div class="pull-left">    
    <strong>Bulk Import Process</strong>
</div>
<div class="pull-right">
    <div class="dropdown">
        <button class="dropbtn">Export Format</button>
        <div class="dropdown-content">
            <a href="#" ng-click="exportFormat('School')">School</a>
            <a href="#" ng-click="exportFormat('Country')">Country</a>
            <a href="#" ng-click="exportFormat('Zone')">Zone</a>
            <a href="#" ng-click="exportFormat('State')">State</a>
            <a href="#" ng-click="exportFormat('District')">District</a>
            <a href="#" ng-click="exportFormat('City')">City</a>
        </div>
    </div> 
</div>



<!--<div class="header-section">
    <div class="menu-right">
        <div class="user-panel-top">
            <div class="col-lg-12">
                <div class="col-md-3">
                    <strong>Bulk Import Process</strong>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="dropbtn">Export Format</button>
                        <div class="dropdown-content">
                            <a href="#"  ng-click="exportFormat('School')">School</a>                           
                            <a href="#" ng-click="exportFormat('Country')">Country</a>                           
                            <a href="#" ng-click="exportFormat('Zone')">Zone</a>                           
                            <a href="#" ng-click="exportFormat('State')">State</a>                           
                            <a href="#" ng-click="exportFormat('District')">District</a>  
                            <a href="#" ng-click="exportFormat('City')">City</a>                           
                        </div>
                    </div>                   
                </div>
                <div class="profile_details col-md-3" ng-include="'Templates/Common/Partial/PrfileMenu.html'"></div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>-->