<div class="stepwizard">     
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#" type="button"  class="btn btn-{{uploadSection?'success':'default'}} btn-circle">1</a>
            <p><small>Import Document</small></p>
        </div>
        <div class="stepwizard-step">
            <a href="#"  type="button" class="btn btn-{{verifyDocSection?'success':'default'}} btn-circle">1</a>
            <p><small> Verify Document</small></p>
        </div>
        <div class="stepwizard-step">
            <a href="#"
               type="button"
               class="btn btn-{{resultDocSection?'success':'default'}} btn-circle">2</a>
            <p><small> Check Results</small></p>
        </div>
    </div>
</div>

<!--<div class="importSteps white-panel">
    <ul>
        <li ng-class="importStepsActive1()">
            <span class="count">1</span>
            <span class="stepDesc">Import<br>Document</span>
        </li>
        <li ng-class="importStepsActive2()">
            <span class="count">2</span>
            <span class="stepDesc">Verify<br>Document</span>
        </li>
        <li ng-class="importStepsActive3()">
            <span class="count">3</span>
            <span class="stepDesc">Check<br>Results</span>
        </li>
    </ul>
</div>-->