<div class="clearfix"></div>
<div class="container-fluid bt">
    <div class="col-md-12">

        <div class="pull-left">
            <p>© 2017 silverzone foundation. All Rights Reserved | Design by <a href="#" target="_blank">silverzone</a></p>
        </div>

        <div class="pull-right">
            <ul class="list-inline">
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>l</li>
                <li>
                    <a href="#">About Silverzone</a>
                </li>
            </ul>

        </div>
    </div>
</div>