<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h3> A new school is register through our website with following details :</h3>
                </div>

                <div style="margin: 26px 0px 15px 0px;border: 1px solid #ddd;padding: 17px;"
                     id="schoolInfo">
                </div>

            </div>
            <div class="col-md-6" style="text-align: center;">
                <a href="www.silverzone.org" style="display: inline-block;padding: 6px 12px;margin-bottom: 0px;font-size: 14px;font-weight: normal;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;border: 1px solid transparent;border-radius: 4px;background-image: none;"> Silverzone.org </a>
            </div>

        </div>
    </div>

</body>
</html>
