<style>
th:first-child{text-align:center;border:1px solid #ddd;font-size:14px;width:20%;}
th:nth-child(2){text-align:center;border:1px solid #ddd;font-size:14px;width:65%;}
th:nth-child(3){text-align:center;border:1px solid #ddd;font-size:14px;width:15%;}
table{border:1px solid #ddd;font-size:14px;}
td{border:1px solid #ddd;text-align:center;}
tr{margin:10px 0px;}


</style>



<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/abho.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->




<section id="prizes" class="backcolor">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>Silverzone</span> Akhil bhartiya hindi olympiad</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            About akhil bhartiya hindi olympiad
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Important Dates & Venue
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Syllabus & Sample Question Papers
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Prizes and Awards
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Order Books
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Sample Answer Sheet (PDF)
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Download For School Only 
                        </a>
                    </div>
              
        <div class="col-md-12">
           <a ui-sref="book_list"> <img src="images/event_top/abhos.jpg" class="img-responsive text-center" style="margin-top:40px;" > </a>
        </div>
                    
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bhoechie-tab ">
                    <!-- About section -->
                    <div class="bhoechie-tab-content active">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">सिल्वरज़ोन अखिल भारतीय हिन्दी ओलम्पियाड </h1>
                                <hr class="style17">
                              <!--  <img src="images/Olympiad/logo.png" class="img-rounded center-block"> -->
                            </div>
                            <p> सिल्वरज़ोन फाउंडेशन एक शैक्षणिक, गैर लाभकारी और गैर सरकारी संस्था है। यह फाउंडेशन दिल्ली सरकार के पंजीकरण नियम के अन्तर्गत XXI 18760 से पंजीकृत है। सिल्वरज़ोन फाउंडेशन विगत 13 वर्षों से अर्तराष्ट्रीय एवं राष्ट्रीय स्तर पर विभिन्न विषयों पर आधारित परिक्षाओं का आयोजन सफलता पूर्वक कर रहा है। हम अपनी राष्ट्र भाषा को अपने विषयों में सम्मिलित करते हुए गौरवान्वित महसूस कर रहें हैं। हिन्दी शिक्षा और मीडिया विशेषज्ञों द्वारा स्थापित अखिल भारतीय हिन्दी ओलम्पियाड भारत में स्कूली छात्रों को वस्तुनिष्ठ, मूल्यधर्मी और परिनिष्ठित हिन्दी सीखने का माध्यम प्रस्तुत करता है। अखिल भारतीय हिन्दी ओलम्पियाड हिन्दी विषय में छात्रों की अभिरूचि का मूल्यांकन करता है और हिन्दी भाषा में प्रतियोगिता करवा कर उन्हें जागरूक कर भाषा शिक्षण के क्षेत्र में विकास करने हेतू प्रेरित करता है।</p>

                            <p>यह युवा पीढ़ी को भविष्य योजनाओं संबंधी प्रतियोगिताओं और भावी चुनौतियों का सामना करने के लिये तैयार करता है। दिसम्बर/जनवरी में आयोजित होने जा रहे अखिल भारतीय हिन्दी ओलम्पियाड में आपके सम्मानित स्कूल की हिस्सेदारी से संस्थान गौरवान्वित होगा। प्रतियोगिता कक्षा 3 से 10 तक के छात्रों के लिए खुली है। हमारा अनुरोध है कि इस प्रतियोगिता को आप अपने विद्यालय में अनिवार्य घोषित कर विद्यार्थियों को सुनहरा अवसर प्रदान करें ताकि वे हिन्दी भाषा संबंधी राष्ट्रीय स्तर की प्रतियोगिताओं में सक्रिय रूप से भाग लेकर स्वंय को समृद्ध बनाने तथा अर्थों की नई तहों तक पहुँचने में सफल हो सकें।</p>
                            <p> अखिल भारतीय हिन्दी ओलम्पियाड में भाग लेने से जो लाभ होंगे उन्हें संक्षिप्त में निम्न प्रकार से समझा जा सकता हैः </p>
                            <p><span>1</span> छात्रों को राष्ट्रीय स्तर पर स्वयं को परखने का अवसर मिलेगा।</p>
                            <p><span>2</span>इससे हिन्दी भाषा में एक मजबूत आधार तैयार करने में सहायता मिलेगी, साथ ही आई.सी.एस.ई., सी.बी.एस.ई. और राज्य स्तर के बोर्ड पाठ्यक्रम की तैयारी करने में भी भरपूर मदद मिलेगी।</p>
                            <p><span>3</span>अखिल भारतीय हिन्दी ओलम्पियाड में हिस्सा लेने वाले विद्यार्थी संपूर्ण रूप से सक्षम होकर भविष्य में किसी भी तरह की प्रतियोगिता में सर्वश्रेष्ठ प्रदर्शन के योग्य बन जाएंगे। </p>

                            <hr class="style18">
                            <h3>परीक्षार्थी</h3>
                            <p>कक्षा 3 से कक्षा 10 के विद्यार्थी </p>

                            <hr class="style18">
                            <h3>तैयारी की पुस्तकें</h3>
                            <p>परीक्षा की तैयारी के लिए ओलंपियाड व्यापक पुस्तक 120/- रु. के मूल्य पर एवं पिछले साल के सवाल पेपर 150/- रु. के मूल्य पर उपलब्ध हैं। यद्यपि इन पुस्तकों की खरीद ऐच्छिक है, ये बेहतर ओलम्पियाड परिणाम के लिए संस्थान द्वारा प्रस्तावित हैं, इनमें आई.सी.एस.ई., सी.बी.एस.ई. और अन्य राज्य बोर्ड के पाठ्यक्रम का 90 प्रतिशत पाठ्यक्रम है। </p>

                        </div>
                    </div>
                    <!-- About test paper section -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">महत्वपूर्ण तिथि एवं स्थान</h1>
                                <hr class="style17">
                            </div>
                            <p>सिल्वरज़ोन अखिल भारतीय हिन्दी ओलम्पियाड का आयोजन राष्ट्रीय स्तर पर किया जा रहा है। ओलम्पियाड का आयोजन किसी एक विशिष्ठ तिथि को संभव नहीं है इसलिए इस परीक्षा का आयोजन दो तिथियों 14 दिसम्बर, 2017 एवं 18 जनवरी, 2018 को किया जाएगा। </p>
                            <p>सिल्वरज़ोन अखिल भारतीय हिन्दी ओलम्पियाड का आयोजन आपके अपने स्कूल में ही किया जाएगा।  </p>
                            <p>आप सिल्वरज़ोन अखिल भारतीय हिन्दी ओलम्पियाड में भाग लेने के लिए दो वैकल्पिक तिथियों 14 दिसम्बर, 2017 अथवा दिनांक 18 जनवरी, 2018 में से किसी एक तिथि को चुन सकते हैं। ओलम्पियाड तिथि 14 दिसम्बर, 2017 एवं ओलम्पियाड तिथि 18 जनवरी, 2018 के लिए पंजीकरण की अंतिम तिथिे 30 सितंबर 2017 है। </p>

                            <hr class="style18">
                            <p>हिन्दी ओलंपियाड 2017 के लिए पंजीकरण शुरु हो गया है। </p>


                        </div>
                    </div>

                    <!-- Syllabus search -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">पाठ्यक्रम एवं प्रश्न पत्रों के नमूने</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                सिलेबस और प्रश्न-पत्र का नमूना का विस्तार वेबसाइट में प्रदान किया गया है। अधिक जानकारी के लिए, अपने स्कूल के समन्वयक से संपर्क करें। पाठ्यक्रम और प्रश्न पत्रो के नमूने प्राप्त करने के लिए नीचे दिए गए निम्नलिखित लिंक पर क्लिक करें।।
                            </p>
                            <p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 pad"
                                             align="center"
                                             ng-repeat="dt in subject_ndSyllabus_list" style="background:#f6f6f6;width:48%;margin:1%;">
                                            <h4 class="text-center"> कक्षा {{ dt.className | hindliClass }}</h4>
                                            <span>
                                                <a href="#" class="btn gray toggle-bar"
                                                   ng-click="dndFile(dt.data[0].dndUrl)">पाठ्यक्रम</a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn gray  toggle-bar"
                                                   ng-click="dndFile(dt.data[1].dndUrl)">प्रश्न-पत्र का नमूना</a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">पुरस्कार एवं सम्मान वर्ष 2017 के लिए</h1>
                                <hr class="style17">
                            </div>
                          <table class="table table-hover" style="margin-top:20pz;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-1 SCHOLERSHIP</b></div>
                        <tr>
                        <td>प्रथम स्थान पाने वाले</td>
                           <td>ओलम्पियाड में राष्ट्रीय स्तर पर प्रथम स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को 10,000 रुपये की नकद पुरस्कार से पुरस्कृत किया जाएगा। </td>
                           <td>8</td>
                           </tr>
                           
                           <tr>
                        <td>द्वितीय स्थान पाने वाले</td>
                           <td>ओलम्पियाड में राष्ट्रीय स्तर पर द्वितीय स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को 7,500 रुपये की नकद पुरस्कार से पुरस्कृत किया जाएगा।</td>
                           <td>8</td>
                           </tr>
                            <tr>
                        <td>तृतीय स्थान पाने वाले</td>
                           <td>ओलम्पियाड में राष्ट्रीय स्तर पर तृतीय स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को 5,000 रुपये की नकद पुरस्कार से पुरस्कृत किया जाएगा। </td>
                           <td>8</td>
                           </tr>
                            <tr>
                        <td>चतुर्थ से दसवां स्थान पाने वाले</td>
                           <td>ओलम्पियाड में राष्ट्रीय स्तर पर चतुर्थ से दसवां स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को कलाई घड़ी से पुरस्कृत किया जाएगा।</td>
                           <td>8</td>
                           </tr>
                           
                            <tr>
                        <td>11 वीं से 25 वें स्थान पाने वाले</td>
                           <td>ओलम्पियाड में राष्ट्रीय स्तर पर 11 वीं से 25 वीं स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को आकर्षक उपहारों से पुरस्कृत किया जाएगा।</td>
                           <td>120</td>
                           </tr>
                           
                            <tr>
                        <td>26 वीं से 500 वें स्थान पाने वाले</td>
                           <td>ओलम्पियाड में 26वें से 500वें स्थान पाने वाले प्रत्येक कक्षा के विद्यार्थियों को विशिष्ट उपलब्धि प्रमाण-पत्र से पुरस्कृत किया जाएगा।</td>
                           <td>--</td>
                           </tr>
                       </div>
                      </tbody>
                  </table>
                    <h3>Important Notes</h3>
                
				<p><i class="fa fa-hand-o-right"></i> सभी राज्यों में प्रथम, द्वितीय, तृतीय स्थान प्राप्त करने वाले विद्यार्थियों को आकर्षक उपहारों से पुरस्कृत किया जाएगा।</p>
                
                <p ><i class="fa fa-hand-o-right"></i>कक्षा में प्रथम, द्वितीय, तृतीय स्थान प्राप्त करने वाले विद्यार्थियों जिनके अंक 50 प्रतिशत से अधिक हैं, उन्हें क्रमशः स्वर्ण, रजत और कांस्य पदक से पुरस्कृत किया जाएगा।</p>
				<p ><i class="fa fa-hand-o-right"></i>परीक्षा में सम्मिलित सभी प्रतिभागियों को प्रमाण पत्र प्रदान किया जायेगा।</p>
                  
                  




                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Order books</h1>
                                <hr class="style17">
                            </div>
                            
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Previous years' Question Papers -2016, 2015, 2014, 2013, 2012 and 2011 . Subjects : Mathematics, Science and English Only (Rs. 150/-):</span> The book contains Past years' question Papers of Mathematics, Science and English Olympiads with Answers.   <span>	(For math, science and english only)</span>
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Previous Year Question Papers' Book</a></div>
                            </p>


                            <hr class="style18">
                            span><i class="fa fa-hand-o-right"></i>Olympiad comprehensive Book (Rs.120/-) :</span> The book contains the descriptive Study material covering brief information about topics of the prescribed syllabus along with examples and a few Sample Test papers.   <span>(For computer, math, science and english only)</span>

                            <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy comprehensive Books</a></div></p>
                           
                            <hr class="style18">
                            <p>
                                <span><i class="fa fa-hand-o-right"></i> INSTANT DOWNLOAD--PAST YEAR LEVEL-1 AND LEVEL-2 QUESTION PAPERS WITH ANSWER (Rs. 75/-)</span> Question Paper of year 2014 (Paper Type BB),2015 (Paper Type AA) and 2016 (Paper Type AA) of Hindi, General Knowledge, Talent Hunt, Social Studies and French Olympiads are available in PDF format for instant download. Each paper is available for download @Rs 75/-. This will help the aspirants to assess the pattern of the real examination paper, practice and prepare for cracking the top ranks.   <span> (Level-1 and Level-2 of 2014,2015,2016)</span>
                                <div align="center"><a ui-sref="InstantDownloads" class="btn gray_1">Instant Download--Past Year Question Papers With Answer</a></div>
                            </p>


                        </div>
                    </div>


                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Sample Answer Sheet (PDF)</h1>
                                <hr class="style17">
                            </div>
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>To download Sample Answer Sheet (PDF) click below link</span> 
                                <div align="left"><a href="#" class="btn gray_1" ng-click="downloadFile()">Sample Answer Sheet (PDF)</a></div>
                            </p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<olympiad></olympiad>