
 <div class="row heig"></div>
     <!-- start banner section -->
      <section id="banner">
<div class="banner ts-faq-banner parallax-section">
<img src="images/event_top/associates.png" class="img-responsive">
       
    </div>
</section>

<!-- End banner section -->
<news-updates></news-updates>
<!-- End Home section -->

<!-- update section -->
<section id="about" class="parallax-section ">
    <div id="container_full">
        <div class="ts-promotional-banner2 parallax-section text-center">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1 class="heading bold"><i class="fa fa-"></i><span>Our </span> Associates</h1>
                        <hr class="style17">
                    </div>


                    <div style="margin:20px 0px" class="row">

                        
                        <div class="col-md-3 col-xs-12">

                          <img src="images/asso2.png" class="img-responsive img-thumbnail" alt="silverzone">

                        </div>
                        
                         <div class="col-md-3 col-xs-12">

                          <img src="images/asso3.png" class="img-responsive img-thumbnail" alt="silverzone">

                        </div>
                        
                         <div class="col-md-3 col-xs-12">

                          <img src="images/asso4.png" class="img-responsive img-thumbnail" alt="silverzone">

                        </div>
                        
                        <div class="col-md-3 col-xs-12 text-justify">
                         <img src="images/pecific.png" class="img-responsive img-thumbnail" alt="silverzone">
                            
                        </div>
                    </div>

                    

                    


                    

                    

                </div>
            </div>
        </div>


    </div>
</section>

<!-- End update section -->