 <div class="row heig"></div>
     <!-- start banner section -->
      <section id="banner">
<div class="banner ts-faq-banner parallax-section">
<img src="images/event_top/awards.png" class="img-responsive">
       
    </div>
</section>

<!-- End banner section -->
<news-updates></news-updates>
<!-- End Home section -->

<!-- child section -->
<section id="about" class="parallax-section ">
    <div id="container_full">
        <div class="ts-promotional-banner2 parallax-section text-center">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1 class="heading bold"><i class="fa fa-"></i><span>Excellence </span> Award</h1>
                        <hr class="style17">
                    </div>
                    
                    <div class="col-md-12 col-xs-12 text-justify" style="-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175); padding-top:30px;">
                    
                     <img src="images/award.jpg" class=" img-responsive" alt="silverzone" />
                    </div>


                </div>
            </div>
        </div>


    </div>
</section>

<!-- End child section -->