<style>
th:first-child{text-align:center;border:1px solid #ddd;font-size:14px;width:20%;}
th:nth-child(2){text-align:center;border:1px solid #ddd;font-size:14px;width:65%;}
th:nth-child(3){text-align:center;border:1px solid #ddd;font-size:14px;width:15%;}
table{border:1px solid #ddd;font-size:14px;}
td{border:1px solid #ddd;text-align:center;}
tr{margin:10px 0px;}


</style>

<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/iflo.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->

<section id="prizes" class="backcolor">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>International</span>French Language Olympiad</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            About French Olympiad
                        </a>
                        <a href="#" class="list-group-item text-center">
                            About Test Paper
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Syllabus & Sample Question Papers
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Prizes, Dates & Venue
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Order Books
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Sample Answer Sheet (PDF)
                        </a>
                        <a ui-sref="downloads({ eventName: subjectName })" class="list-group-item text-center">
                            Download For School Only 
                        </a>
                    </div>
                    <div class="col-md-12">
            <a ui-sref="book_list"><img src="images/event_top/iflos.png" class="img-responsive text-center" style="margin-top:40px;"></a>
        </div>
                    
                </div>
             

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bhoechie-tab ">
                    <!-- About section -->
                    <div class="bhoechie-tab-content active">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About International Olympiad of French Language</h1>
                                <hr class="style17">
                               <!-- <img src="images/Olympiad/flta.png" class="img-rounded center-block">-->
                            </div>
                            <p>International French Language Olympiad. French(IFLO) is the second most widely taught language in the world after English. Apart from English, French is spoken in all the five continents. French is also the second language in the world by the number of countries that have adopted it as an official or administrative language. France, fifth commercial power attracts entrepreneurs in various sectors of activities (distribution, automobile, luxury, aeronautics ...), researchers and the best foreign students.</p>
                            <p>Therefore, learning a foreign language and more specifically Frenchenhancesone's resume helps to build and develop one's career in the long run, and also enriches one's personality, because learning a new language helps open one's mind to a world of new cultures.</p>

                            <p>The objective of iFLO is therefore, to make French learning an interesting and interactive process in which a learner is actually able to put his/her skills, memory, talent and knowledge to test.</p>
                            <p>It is good for every child to appear for talent exams because it improves reading & writing skills as well as the overall knowledge of the subject.</p>
                            <p>You can truly appreciate the importance of knowing a foreign language when you begin to Study it. The feeling of accomplishment you get on learning a foreign language, the personal enrichment that the language brings, can be felt only by experience. Languages are a means of expression. They are the links that bridge diverse cultures. Knowing many languages improves one's cognitive skills and interpretive abilities. Learning a foreign language can indeed be a very rewarding experience.</p>


                            <h3> There are many benefits associated with learning a foreign language at an early age:</h3>
                            <p><i class="fa fa-hand-o-right"></i>Learning a language of another country helps one understand its culture.</p>
                            <p> <i class="fa fa-hand-o-right"></i>Having studied a foreign language, one can understand one's own language better.</p>
                            <p><i class="fa fa-hand-o-right"></i>Certain courses & colleges require at least two years of studying a foreign language for admission.</p>
                            <p><i class="fa fa-hand-o-right"></i>Many fields such as tourism, communications, advertising, engineering and education have sectors that require the knowledge of foreign language.</p>
                            <p><i class="fa fa-hand-o-right"></i>After research & study we have found French to be one of the most important foreign languages and we are hereby pleased to launch this talent exam for the benefit of school students.</p>


                        </div>
                    </div>
                    <!-- About test paper section -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About Test Paper</h1>
                                <hr class="style17">
                            </div>
                            <p>The language medium is French only. The examination is being conducted for classes from 6<sup>th</sup> to 10<sup>th</sup> with the following details.</p>
                            <p>There will be 50 questions and the duration will be of 60 Minutes.</p>

                            <p>The details of the manner in which the test is to be conducted will be sent with the question papers. The questions will be of objective type in nature with multiple choice answers. There is no negative marking.</p>


                        </div>
                    </div>

                    <!-- Syllabus search -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Syllabus & Sample Question Papers</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                The detailed Syllabus is provided here. For books please contact, School Coordinator or <a href="http://silverzone.org/" target="_blank">book your order online now</a>
                            </p>
                            <p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 pad"
                                             align="center"
                                             ng-repeat="dt in subject_ndSyllabus_list" style="background:#f6f6f6;width:48%;margin:1%;">
                                            <h4 class="text-center">{{ dt.className }}</h4>
                                            <span>
                                                <a href="#" class="btn gray toggle-bar"
                                                   ng-click="dndFile(dt.data[0].dndUrl)">Syllabus</a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn gray  toggle-bar"
                                                   ng-click="dndFile(dt.data[1].dndUrl)">Sample Questions</a>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">iFLO - Prizes, Dates & Venue</h1>
                                <hr class="style17">
                            </div>
                            
                            <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-1 SCHOLARSHIP</b></div>
                        <tr>
                       <td>1<sup>st</sup></td>
                           <td>Intl. Olympiad rank holder in each class will be awarded with a cash prize of Rs. 10,000/- . </td>
                           <td>5</td>
                           </tr>
                           
                            <tr>
                       <td>2<sup>nd</sup></td>
                           <td>Intl. Olympiad rank holder in each class will be awarded with a cash prize of Rs. 7,500/- with a Winner’s Trophy.  </td>
                           <td>5</td>
                           </tr>
                           
                            <tr>
                       <td>3<sup>rd</sup></td>
                           <td>Intl. Olympiad rank holder in each class will be awarded with a cash prize of Rs. 5,000/- with a Winner’s Trophy.  </td>
                           <td>5</td>
                           </tr>
                           
                           <tr>
                       <td>4<sup>th</sup> to 10<sup>th</sup></td>
                           <td>Intl. Olympiad rank holders in each class will be awarded with wrist watches.  </td>
                           <td>35</td>
                           </tr>
                           
                            <tr>
                       <td>11<sup>th</sup> to 25<sup>th</sup></td>
                           <td>Intl. Olympiad rank holders in each class will be awarded with exciting Gift. </td>
                           <td>75</td>
                           </tr>
                           
                            <tr>
                       <td>26<sup>th</sup> to 500<sup>th</sup></td>
                           <td>Intl. Olympiad rank holders in each class will be awarded with the topper achievement certificate. </td>
                           <td>2375</td>
                           </tr>
                           
                            <tr>
                       <td>All</td>
                           <td>All State Rank 1st,2nd and 3rd Rank holders of
                   all classes will be awarded with Gold,Silver and Bronze medals respectively,provided the topper obtains at least 50% marks.  </td>
                           <td>--</td>
                           </tr>
                           
                            <tr>
                       <td>All</td>
                           <td>All the participants will be awarded with the participation Certificate reflecting their Class/State/Olympiad Ranks and Marks. </td>
                           <td>--</td>
                           </tr>
                           
                           </div>
                      </tbody>
                  </table>
                    <h3 >Important Notes</h3>
                     <p><i class="fa fa-hand-o-right"></i>  The Registration for IFLO'18 has already been started. </p>
                            <p><i class="fa fa-hand-o-right"></i>The International French Language Olympiad '18 will be held in Dec. '17/Jan. '18. </p>
                            <p><i class="fa fa-hand-o-right"></i>Last date of registration is 30 days prior to olympiad date.</p>
                            <p><i class="fa fa-hand-o-right"></i>The Venue of the Olympiad will be the school itself.<p>
                            <p><i class="fa fa-hand-o-right"></i>The Result will be available at silverzone.org in the month of February '18. </p>
                            <p><i class="fa fa-hand-o-right"></i>The Awards and prizes will be sent to the school within 3-4 weeks after the Result is declared on our Website. </p>

                  
                  
                            
                            
                            
                            
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Order books</h1>
                                <hr class="style17">
                            </div>
                           

                            <hr class="style18">
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Previous years' Question Papers - 2016, 2015, 2014, 2013, 2012 and 2011 . Subjects : Mathematics, Science and English Only (Rs. 150/-):</span> The book contains Past years' question Papers of Mathematics, Science and English Olympiads with Answers.   <span>	(For math, science and english only)</span>
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Previous Year Question Papers' Book</a></div>
                            </p>


                            <hr class="style18">
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Olympiad comprehensive Book (Rs.120/-) :</span> The book contains the descriptive Study material covering brief information about topics of the prescribed syllabus along with examples and a few Sample Test papers.   <span>(For computer, math, science and english only)</span>

                            <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy comprehensive Books</a></div></p>

                            <hr class="style18">
                            
                            
                          <p>
                                <span><i class="fa fa-hand-o-right"></i> INSTANT DOWNLOAD--PAST YEAR LEVEL-1 AND LEVEL-2 QUESTION PAPERS WITH ANSWER (Rs. 75/-)</span> Question Paper of year 2014 (Paper Type BB),2015 (Paper Type AA) and 2016 (Paper Type AA) of Hindi, General Knowledge, Talent Hunt, Social Studies and French Olympiads are available in PDF format for instant download. Each paper is available for download @Rs 75/-. This will help the aspirants to assess the pattern of the real examination paper, practice and prepare for cracking the top ranks.   <span> (Level-1 and Level-2 of 2014,2015,2016)</span>
                                <div align="center"><a ui-sref="InstantDownloads" class="btn gray_1">Instant Download--Past Year Question Papers With Answer</a></div>
                            </p>

                        </div>
                    </div>


                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Sample Answer Sheet (PDF)</h1>
                                <hr class="style17">
                            </div>
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>To download Sample Answer Sheet (PDF) click below link</span> 
                                <div align="left"><a href="#" class="btn gray_1" ng-click="downloadFile()">Sample Answer Sheet (PDF)</a></div>
                            </p>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<olympiad></olympiad>
