<style>
th:first-child{text-align:center;border:1px solid #ddd;font-size:14px;width:20%;}
th:nth-child(2){text-align:center;border:1px solid #ddd;font-size:14px;width:65%;}
th:nth-child(3){text-align:center;border:1px solid #ddd;font-size:14px;width:15%;}
table{border:1px solid #ddd;font-size:14px;}
td{border:1px solid #ddd;text-align:center;}
tr{margin:10px 0px;}


</style>

<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/ios.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->

<section id="prizes">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>International</span>  Olympiad of Science </h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
         
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            About Science Olympiad
                        </a>
                        <a href="#" class="list-group-item text-center">
                            About Test Paper
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Syllabus & Sample Question Papers
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Prizes, Dates & Venue
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Order Books
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Sample Answer Sheet (PDF)
                        </a>
                        <a ui-sref="downloads({ eventName: subjectName })" class="list-group-item text-center">
                            Download For School Only 
                        </a>
                    </div>
                    <div class="col-md-12">
           <a ui-sref="book_list"> <img src="images/event_top/ioss.png" class="img-responsive text-center" style="margin-top:40px;"></a>
        </div>
        
        
         <div class="col-md-12">
           <a href="/excersion/nasa"><img src="images/nasa_london.png" class="img-responsive text-center" style="margin-top:40px;"></a>
        </div>
                    
                </div>
               

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bhoechie-tab ">
                    <!-- About section -->
                    <div class="bhoechie-tab-content active">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About Science Olympiad</h1>
                                <hr class="style17">
                              <!--  <img src="images/Olympiad/sse.png" class="img-rounded center-block">-->
                            </div>
                            <p>The International Olympiad of Science, a test of competence and proficiency in Science, is held annually at the National and International levels, based on syllabus prescribed by CBSE/ ICSE and the State Boards. Apart from syllabus, a part of test paper is based on the Applied Science. Detailed syllabus with sample question paper is provided along with this Information Booklet. Please refer the books published by Silverzone for the preparation of iOS. SSE recommends the competition for each and every student who is Studying Science as their subject in the school.</p>
                            <p>Students judge themselves at International levels. The tests at local or regional level do not provide the right insight and judgement about the challenges ahead.</p>
                            <p>iOS builds a solid foundation for school students to excel in Science based on ICSE, CBSE and State board syllabus.</p>
                            <p>A comprehensive report based on Olympiad examination enables students to delever deeper into their strengths and weaknesses. It also motivates them towards excellence.<p/
                            <p>iOS promotes Science talents from school to National and higher levels by recognising their merits and awarding them.</p>
                            <p>iOS promotes participation of the teachers for the benefits of the student community.</p>


                            <h3> Structure of the Olympiad </h3>
                            <strong> Level 1</strong>
                            <p><i class="fa fa-hand-o-right"></i>All the students of classes 1<sup>st</sup> to 12<sup>th</sup> are eligible to take part in Level 1.</p>
                            <strong>Level 2</strong>
                            <p> <i class="fa fa-hand-o-right"></i>Top 500 Olympiad rank holders of the 1<sup>st</sup> Level from each class will compete for top positions in a 2<sup>nd</sup> level examination. All Class 1<sup>st</sup> rank holders with minimum 75% of marks with minimum 75 students from a particular school are also eligible for Level 2. </p>
                            <strong>Level 3</strong>
                            <p><i class="fa fa-hand-o-right"></i>Olympiad 1<sup>st</sup> Rank Holders of classes 6<sup>th</sup> to 12<sup>th</sup> from 2<sup>nd</sup> level will be eligible for Level 3. Level 3 will be conducted at New Delhi, India.</p>

                            <hr class="style18">

                            <h3> Fee Structure and Study Material </h3>
                            <strong>FOR SCHOOLS OUTSIDE INDIA:- </strong>
                            <p><i class="fa fa-hand-o-right"></i>The participation fee for the Olympiad is USD$8 per student, out of which USD$2 shall be retained by the school against its expenses towards honorarium of the invigilator(s) and other expenses like postal expenses, DD charges and photocopying, etc.</p>
                            <strong>Study Material (For Classes 1<sup>st</sup> to 10<sup>th</sup>):- </strong>
                            <p> <i class="fa fa-hand-o-right"></i>The cost of Olympiad Comprehensive Book (USD$4) and Computer Olympiad Excellence Guide (USD$10) is not included in the fee.</p>
                            <strong>FOR SCHOOLS IN INDIA:- </strong>
                            <p><i class="fa fa-hand-o-right"></i>The participation fee for the Olympiad is Rs. 120/- per student, out of which Rs. 20/- shall be retained by the school as its expenses towards honorarium of the invigilator(s) and other expenses like postal expenses, DD charges and photocopying, etc.</p>
                            <strong>Study Material (For Classes 1<sup>st</sup> to 10<sup>th</sup>) :  </strong>
                            <p><i class="fa fa-hand-o-right"></i>The cost of Olympiad Comprehensive Book (Rs. 120/-), Previous year's question paper (Rs. 150/-) and Computer Olympiad Excellence Guide (Rs. 280/-) is not included in the fee.</p>

                            <hr class="style18">

                            <h3> Payment Mode</h3>
                            <p><i class="fa fa-hand-o-right"></i>For Payment mode in India and Aborad, please refer to the ‘School Registration Form’.</p>


                        </div>
                    </div>
                    <!-- About test paper section -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About Test Paper</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                The language medium is English only. The examination is being conducted for all classes from 1<sup>st</sup> to 12<sup>th</sup> with the following details.
                            </p>
                            <p>For Classes 1-2 : There will be 40 questions and the duration will be of 60 Minutes.</p>

                            <p>For Classes 3-12: There will be 50 questions and the duration will be of 60 Minutes.</p>

                            <p>The details of the manner in which the test is to be conducted will be sent with the question papers. The questions will be of objective type in nature with multiple choice answers. There is no negative marking. For classes 3<sup>rd</sup> onward OMR answer sheets will be provided.  </p>

                            <hr class="style18">
                            <p><i class="fa fa-hand-o-right"></i>Second Level Result will be declared in 2<sup>nd</sup> / 3<sup>rd</sup> week of march 2018 </p>
                        </div>
                    </div>

                    <!-- Syllabus search -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Syllabus and Sample Question Papers</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                The detailed Syllabus and Sample Test Paper are provided in this website, click the following links to download the Syllabus and Sample Test Paper class wise. For books please contact, School Coordinator or book your order online now. In iOS, the 5% to 10% questions from 'Applied Science' has been added.  While preparing the questions for 'Applied Science' section, the age factor will be considered the major criteria.
                            </p>
                            <p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 pad"
                                             align="center"
                                             ng-repeat="dt in subject_ndSyllabus_list" style="background:#f6f6f6;width:48%;margin:1%;">
                                            <h4 class="text-center">{{ dt.className }}</h4>
                                            <span>
                                                <a href="#" class="btn gray toggle-bar"
                                                   ng-click="dndFile(dt.data[0].dndUrl)">Syllabus</a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn gray  toggle-bar"
                                                   ng-click="dndFile(dt.data[1].dndUrl)">Sample Questions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">IOS - Prizes, Dates and Venue for Year 2017</h1>
                                <hr class="style17">
                            </div>
                           
                             <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-3 SCHOLARSHIP</b></div>
                        <tr>
                       <td>1<sup>st</sup> & 2<sup>nd</sup></td>
                           <td>Top 2 students of the 3<sup>rd</sup> level participants will be sent for educational excursion to NASA. </td>
                           <td>2</td>
                           </tr>
                            </div>
                            </tbody></table>
                            
                             <h3>Important Notes</h3>
				<p><i class="fa fa-hand-o-right"></i>evel 3 will be conducted in the month of July/August 2018 at New Delhi.  </p>
                
                 <h3>Venue</h3>
					<p ><i class="fa fa-hand-o-right"></i>The Registration for iOS'17 has already been started. </p>
												</p>
					<p ><i class="fa fa-hand-o-right"></i>The Venue of the 1st and 2nd Level Olympiad will be the school itself, whereas 3rd level will be conducted at New Delhi. </p>
                  
                  
                  <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-2 SCHOLARSHIP</b></div>
                        <tr>
                       <td>1<sup>st</sup></td>
                           <td>Olympiad 1<sup>st</sup> rank holder of class 12<sup>th</sup> will be awarded with a
                            cash prize of Rs. 1,00,000/- along with a Winner’s Trophy and Olympiad
                             1<sup>st</sup> rank holder of class 11th will be awarded with a cash prize of Rs.
                              50,000/- along with a Winner’s Trophy. </td>
                           <td>1</td>
                           </tr>
                           
                           <tr>
                           <td>1<sup>st</sup></td>
                           <td>1<sup>st</sup> Olympiad rank holder from classes 1<sup>st</sup> to10<sup>th</sup> will be awarded a cash prize of Rs. 15,000/- each with a Winner’s Trophy. </td>
                           <td>10</td>
                           </tr>
                           
                            <tr>
                           <td>2<sup>nd</sup></td>
                           <td>2<sup>nd</sup> Olympiad rank holder in each class will be awarded a cash prize of Rs. 10,000/- each with a Winner’s Trophy. </td>
                           <td>12</td>
                           </tr>
                           
                            <tr>
                           <td>3<sup>rd</sup></td>
                           <td>3<sup>rd</sup> Olympiad rank holder in each class will be awarded a cash prize of Rs. 5,000/- each with a Winner’s Trophy. </td>
                           <td>12</td>
                           </tr>
                           
                            <tr>
                           <td>1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup></td>
                           <td>All State Rank 1<sup>st</sup>, 2<sup>nd</sup> and 3<sup>rd</sup> rank holders of all classes will be awarded with exciting prizes. </td>
                           <td>36</td>
                           </tr>
                           
                           <tr>
                           <td>All</td>
                           <td>All participants will be awarded with the Student Participation Certificate (SPC).</td>
                           <td>--</td>
                           </tr>
                           
                            </div>
                            </tbody></table>
                            
                             <h3>Important Notes</h3>
				<p><i class="fa fa-hand-o-right"></i>The 2<sup>nd</sup> Level will be conducted in the month
                 of January/February 2018. The awards, prizes and certificates will be sent to
                  the school within 3 to 4 weeks after the declaration of result at our website.  </p>
                  
                  <p><i class="fa fa-hand-o-right"></i>All the participants will be awarded with the Student Participation Certificate (SPC).</p>
                
                 <h3>Venue</h3>
					<p ><i class="fa fa-hand-o-right"></i>The Registration for iOS'17 has already been started. </p>
												</p>
					<p ><i class="fa fa-hand-o-right"></i>The Venue of the 1<sup>st</sup> and 2<sup>nd</sup> Level Olympiad will be the school itself, whereas 3<sup>rd</sup> level will be conducted at New Delhi. </p>
                  
                  
                  <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-1 SCHOLARSHIP</b></div>
                        <tr>
                       <td>4<sup>th</sup> to 10<sup>th</sup></td>
                           <td>4<sup>th</sup> to 10<sup>th</sup> Olympiad rank holders of each class will be awarded with wrist watches. </td>
                           <td>7</td>
                           </tr>
                           
                           <tr>
                           <td>11<sup>th</sup> to 25<sup>th</sup></td>
                           <td>11<sup>th</sup>to 25<sup>th</sup> Olympiad rank holders of each class will be awarded with exciting prizes.</td>
                           <td>15</td>
                           </tr>
                           
                            <tr>
                           <td>26<sup>th</sup> to 500<sup>th</sup></td>
                           <td>26<sup>th</sup> to 500<sup>th</sup> Olympiad rank holders of each class will be awarded with the topper achievement certificate. </td>
                           <td>475</td>
                           </tr>
                           
                            
                            <tr>
                           <td>1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup></td>
                           <td>Class Topper 1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup> rank holders of every class of each school
                            will be awarded Gold, Silver and Bronze medals respectively, provided the
                             topper obtains at least 50% marks. </td>
                           <td>36</td>
                           </tr>
                           
                           <tr>
                           <td>All</td>
                           <td>All participants will be awarded with the Student Participation Certificate (SPC) and Descriptive Assessment Report.</td>
                           <td>--</td>
                           </tr>
                           
                            </div>
                            </tbody></table>
                            
                             <h3>Important Notes</h3>
				<p><i class="fa fa-hand-o-right"></i>As iOS 2017 is being organised at National and International level,
                 due to various reasons, it is not possible to conduct the olympiad on a specific single date.
                  The Science Olympiad will be conducted on 15<sup>th</sup> November 2017 and 06th December 2017. Please
                   decide the date which is suitable to your school. </p>
                  
                  <p ><i class="fa fa-hand-o-right"></i>You may opt for either 15<sup>th</sup> November 2017 or 06<sup>th</sup> December 2017
                   as your International Olympiad of Science date. Last date of registration is 30 days prior to olympiad date.</p>
                  
                  <p ><i class="fa fa-hand-o-right"></i>The Result of the 1st Level will be available at www.silverzone.org in the month of January 2018.  </p>
                
                 <h3>Venue</h3>
					<p ><i class="fa fa-hand-o-right"></i>The Registration for iOM'17 has already been started. </p>
												</p>
					<p ><i class="fa fa-hand-o-right"></i>The Venue of the 1<sup>st</sup> level Olympiad will be the school itself, 2<sup>nd</sup> Level will be City Centre/Your School, whereas 3<sup>rd</sup> level will be conducted at New Delhi.</p> 
                  
                            
                           
                           

                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Order books</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Olympiad Excellence Guide (Rs. 280/-):</span> The book contains the descriptive study material covering detailed information about each topic of the prescribed syllabus along with examples and exercise. The book also contains various Sample Questions Papers based upon prescribed syllabus along with the Answers.  <span>(For computer, maths, science and english only.)</span>
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Excellence Guide</a></div>
                            </p>

                            <hr class="style18">
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>Previous years' Question Papers -2016,  2015, 2014, 2013, 2012 and 2011. Subjects:- Mathematics, Science and English Only (Rs. 150/-):</span> The book contains Past years' question Papers of Mathematics, Science and English Olympiads with Answers.   <span>	(For maths, science and english only.)</span>
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Previous Year Question Papers' Book</a></div>
                            </p>


                            <hr class="style18">
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Olympiad Comprehensive Book (Rs. 80/-) :</span> The book contains the descriptive study material covering brief information about topics of the prescribed syllabus along with examples and a few Sample Test papers.   <span>(For computer, maths, science and english only.)</span>

                           <!-- <p>
                                <span><i class="fa fa-hand-o-right"></i>Practice Question Paper Book (Rs. 80/-) :</span> 	The book contains multiple Sample Questions Papers based upon prescribed syllabus along with the Answers.   <span>	(For All Subjects.)</span>
                            </p>-->

                            <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Olympiad Comprehensive Book</a></div></p>

                            <hr class="style18">
                            
                            <p>
                                <span>
                                    <i class="fa fa-hand-o-right"></i> 	REASONING and APTITUDE (Rs. 280/-) 
                                    Develops creative, critical thinking and problem solving skills. (For Classes - 6<sup>th</sup> to 12<sup>th</sup>)
                                </span> Improves the skills of ‘Decision Making’ and ‘Communication capabilities’. Improves generic and higher order thinking skills of students which in turn helps them to improve the scores of their core subjects.
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Mental Ability, Reasoning & Aptitude Books</a></div></a></div>
                            </p>


                            <hr class="style18">
                             <p>
                                <span><i class="fa fa-hand-o-right"></i> INSTANT DOWNLOAD--PAST YEAR LEVEL-1 AND LEVEL-2 QUESTION PAPERS WITH ANSWER (Rs. 75/-)</span> Question Paper of year 2014 (Paper Type BB),2015 (Paper Type AA) and 2016 (Paper Type AA) of Hindi, General Knowledge, Talent Hunt, Social Studies and French Olympiads are available in PDF format for instant download. Each paper is available for download @Rs 75/-. This will help the aspirants to assess the pattern of the real examination paper, practice and prepare for cracking the top ranks.   <span> (Level-1 and Level-2 of 2014,2015,2016)</span>
                                <div align="center"><a ui-sref="InstantDownloads" class="btn gray_1">Instant Download--Past Year Question Papers With Answer</a></div>
                            </p>


                        </div>
                
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Sample Answer Sheet (PDF)</h1>
                                <hr class="style17">
                            </div>
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>To download Sample Answer Sheet (PDF) click below link</span> 
                                <div align="left"><a href="#" class="btn gray_1" ng-click="downloadFile()">Sample Answer Sheet (PDF)</a></div>
                            </p>
                        </div>
                    </div>  
                  </div>

            </div>

        </div>
    </div>
</section>


<olympiad></olympiad>
