<style>
th:first-child{text-align:center;border:1px solid #ddd;font-size:14px;width:20%;}
th:nth-child(2){text-align:center;border:1px solid #ddd;font-size:14px;width:65%;}
th:nth-child(3){text-align:center;border:1px solid #ddd;font-size:14px;width:15%;}
table{border:1px solid #ddd;font-size:14px;}
td{border:1px solid #ddd;text-align:center;}
tr{margin:10px 0px;}


</style>

<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/irao.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->

<section id="prizes">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>International</span> Reasoning & Mental Ability Olympiad</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            About Reasoning & Mental Ability Olympiad
                        </a>
                        <a href="#" class="list-group-item text-center">
                            About Test Paper
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Syllabus & Sample Question Papers
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Prizes, Dates & Venue
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Order Books
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Sample Answer Sheet (PDF)
                        </a>
                        <a ui-sref="downloads({ eventName: subjectName })" class="list-group-item text-center">
                            Download For School Only 
                        </a>
                    </div>
                    <div class="col-md-12">
           <a ui-sref="book_list"> <img src="images/event_top/iraos.png" class="img-responsive text-center" style="margin-top:40px;"></a>
        </div>
                    
                </div>
                

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab ">
                    <!-- About section -->
                    <div class="bhoechie-tab-content active">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center"> About  Reasoning & Mental Ability Olympiad</h1>
                                <hr class="style17">

                             <!--   <img src="images/Olympiad/logo.png" class="img-rounded center-block">-->

                            </div>
                            <p>The International Reasoning & Mental Ability Olympiad, a test of competence and proficiency in History, Geography and Civics is held annually at the National and International levels based on syllabus prescribed by CBSE/ICSE and the State Boards. Detailed syllabus with Sample question paper is provided along with this Information Booklet. Please refer the Books published by Silverzone Foundation for the preparation of IRAO. SilverZone foundation recommends the competition for each and every student in the school.</p>

                            <h3> Fee Structure and Study Material(For Class 3<sup>rd</sup> to 10<sup>th</sup>) </h3>

                            <p><span>Fee Structure and Study Material (for class 6<sup>th</sup> to 12<sup>th</sup>) : </span>The participation fee for the Olympiad is Rs.150/- per student. The Study material for schools are available at the discounted price. The price of Reasoning Excellene Guide(optional) is Rs. 200/- for school only. The printed price of the book is Rs. 280/-. The book contains about 80% of the syllabus of the Olympiad. </p>

                            <p><span>Fee Structure and Study Material (for class 6<sup>th</sup> to 12<sup>th</sup>)  :  </span>The participation fee for the Olympiad is USD$8 per student. The Study material for schools are available at the discounted price. The price of Reasoning Excellene Guide(optional) is USD$10/- for school only. The printed price of the book is USD$12/-. The book contains about 80% of the syllabus of the Olympiad. </p>
                            <hr class="style17">
                            <h3>Payment Mode</h3>
                            <p>For Payment mode in India and Abroad, please refer to the ‘School Registration Form’.</p>

                        </div>
                    </div>
                    <!-- About test paper section -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About Test Paper</h1>
                                <hr class="style17">
                            </div>
                            <p>The examination is being conducted for all classes from 6<sup>th</sup> to 12<sup>th</sup> with the following details.</p>
                            <p>For Classes 6-12: There will be 50 questions and the duration will be between 60 Minutes.</p>

                            <p>The details of the manner in which the test is to be conducted will be sent with the question papers. The questions will be of objective type in nature with multiple choice answers. There is no negative marking. For all classes OMR answer sheets will be provided. The students are allowed to retain their question papers, whereas answer sheets shall be returned to the foundation for assessment and marking. </p>


                        </div>
                    </div>

                    <!-- Syllabus search -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Syllabus & Sample Question Papers</h1>
                                <hr class="style17">
                            </div>
                            <p>The detailed Syllabus and Sample Test Paper are provided in this website, click the following links to download the Syllabus and Sample Test Paper class wise. For Books please contact, School Coordinator or <a href="http://silverzone.org/" target="_blank">book your order online now</a></p>
                            <p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 pad"
                                             align="center"
                                             ng-repeat="dt in subject_ndSyllabus_list" style="background:#f6f6f6;width:48%;margin:1%;">
                                            <h4 class="text-center">{{ dt.className }}</h4>
                                            <span>
                                                <a href="#" class="btn gray toggle-bar"
                                                   ng-click="dndFile(dt.data[0].dndUrl)">Syllabus</a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn gray  toggle-bar"
                                                   ng-click="dndFile(dt.data[1].dndUrl)">Sample Questions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">IRAO - Prizes, Dates & Venue</h1>
                                <hr class="style17">
                            </div>
                           
                            <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-ALL SCHOLARSHIP</b></div>
                        <tr>
                       <td>11<sup>st</sup>  </td>
                           <td>1<sup>st</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 10,000/- along with a winner’s Trophy. </td>
                           <td>7</td>
                           </tr>
                           
                           <tr>
                       <td>2<sup>nd</sup></td>
                           <td>2<sup>nd</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 7,500/- along with a winner’s Trophy. </td>
                           <td>7</td>
                           </tr>
                           
                            <tr>
                       <td>3<sup>rd</sup></td>
                           <td>3<sup>rd</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 5,000/- along with a winner’s Trophy. </td>
                           <td>7</td>
                           </tr>
                           
                           
                           <tr>
                       <td>4<sup>th</sup> to 10<sup>th</sup></td>
                           <td>4<sup>th</sup> to 10<sup>th</sup> Intl. Olympiad rank holders in each class will be awarded with wrist watches.</td>
                           <td>7</td>
                           </tr>
                           
                           <tr>
                           <td>11<sup>th</sup> to 25<sup>th</sup></td>
                           <td>11<sup>th</sup> to 25<sup>th</sup>Intl. Olympiad rank holders in each class will be awarded with exciting prizes.</td>
                           <td>15</td>
                           </tr>
                           
                            <tr>
                           <td>26<sup>th</sup> to 500<sup>th</sup></td>
                           <td>26<sup>th</sup> to 500<sup>th</sup> Intl. Olympiad rank holders in each class will be awarded with the topper achievement certificate. </td>
                           <td>475</td>
                           </tr>
                           
                            
                            <tr>
                           <td>1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup></td>
                           <td>All State Rank 1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup> rank holders of all classes will be awarded with exciting prizes. </td>
                           <td>21</td>
                           </tr>
                           
                           <tr>
                           <td>1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup></td>
                           <td>Class Topper 1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup> rank holders of every class of
                            each school will be awarded with Gold, Silver and Bronze medals
                             respectively, provided the topper obtains at least 50% marks.</td>
                           <td>21</td>
                           </tr>
                           
                           <tr>
                           <td>All</td>
                           <td>All the participants will be awarded with the participation Certificate reflecting their Class/State/Olympiad Ranks and Marks</td>
                           <td>--</td>
                           </tr>
                           
                           
                            </div>
                            </tbody></table>
                            
                             <h3>Important Notes</h3>
				<p><i class="fa fa-hand-o-right"></i>As irao 2017 is being organized
                 at National and International level, due to various reasons, it is
                  not possible to conduct the olympiad on a specific single date.
                   The International Reasoning & Aptitude Olympiad will be conducted
                    on 20th December 2017 and 29th January 2018. Please decide the
                     date which is suitable to your school. </p>
                     
                     <p><i class="fa fa-hand-o-right"></i>You may opt for either 20<sup>th</sup> December
                      2017or 29<sup>th</sup> January 2018 as your International Reasoning & Aptitude Olympiad date.
                       Last date of registration is 30 days prior to olympiad date opted.</p>
                      <p><i class="fa fa-hand-o-right"></i>The Result of the 1<sup>st</sup> Level will be available at www.silverzone.org</p>
                
                 <h3>Venue</h3>
					<p ><i class="fa fa-hand-o-right"></i>The Registration for iTAO'17 has already been started. </p>
												</p>
					<p ><i class="fa fa-hand-o-right"></i>The Venue of the Olympiad will be the school itself. </p>
                  
                           

                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Order books</h1>
                                <hr class="style17">
                            </div>


                            <p>
                                <span>
                                    <i class="fa fa-hand-o-right"></i> 	REASONING & APTITUDE (Rs. 280/-)
                                    Develops creative, critical thinking & problem solving skills. [For Classes - 6<sup>th</sup> to 12<sup>th</sup>]
                                </span> Improves the skills of ‘Decision Making’ and ‘Communication capabilities’. Improves generic & higher order thinking skills of students which in turn helps them to improve the scores of their core subjects.
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Mental Ability, Reasoning & Aptitude Books</a></div></a>
                        </div>
                        </p>


                        <hr class="style18">
                        
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Sample Answer Sheet (PDF)</h1>
                                <hr class="style17">
                            </div>
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>To download Sample Answer Sheet (PDF) click below link</span> 
                                <div align="left"><a href="#" class="btn gray_1" ng-click="downloadFile()">Sample Answer Sheet (PDF)</a></div>
                            </p>
                        </div>
                    </div>
                </div>
  </div>

        </div>
    </div>
</section>


<olympiad></olympiad>
