<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/landon.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->
<section id="prizes" style="background:#fff;">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>LONDON,</span> United Kingdom</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <p class="text-justify">
             Top 2 students of the 3rd level participants will be sent for a Trip to United Kingdom.</p>
                  <p class="text-justify">
             The purpose of this trip is tourism and to explore the country and its rich culture. Here
              students get a chance to explore the city of London with major attractions like Tower of
               London, London Eye, Madame Tussauds, Ripley’s Believe It Or Not! - Robert Ripley, the intrepid cartoonist.  </p>
               
                 
                 
        </div>
    </div>
    </div>
</section>