<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/nasa.jpg" class="img-responsive">
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->
<section id="prizes" style="background:#fff;">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>NASA</span>, United States of America</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <p class="text-justify">
             Top 2 students of the 3rd level participants will be sent for educational excursion to NASA.</p>
                  <p class="text-justify">
             Kennedy Space Center (KSC), NASA, offers a wonderful educational and entertainment experience
              to students of all ages. Here students get a chance to explore, experience and interact through
               space shuttle mission simulations. It’s an enriching experience that comes once in a lifetime. </p>
               
                  <p class="text-justify">
             The main aim and objective of the trip is to know NASA’s history, to get first-hand experience of
              shuttle launch and to know the latest development in the field of space science.  The students also
               get an opportunity to have lunch and interact and photo session with astronauts also to gain first hand
                information on their memorable experiences in space.  </p>
                
                  <p class="text-justify">
            Apart from education two days programme at Kennedy Space Center, NASA
             students also enjoy the magical attractions of Walt Disney World Resort, Universal
              Studios along with Disney World Universal Studio. </p>
                 
        </div>
    </div>
</section>