<style>
th:first-child{text-align:center;border:1px solid #ddd;font-size:14px;width:20%;}
th:nth-child(2){text-align:center;border:1px solid #ddd;font-size:14px;width:65%;}
th:nth-child(3){text-align:center;border:1px solid #ddd;font-size:14px;width:15%;}
table{border:1px solid #ddd;font-size:14px;}
td{border:1px solid #ddd;text-align:center;}
tr{margin:10px 0px;}


</style>

<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/skgk.jpg" class="img-responsive">
            
        </div>

    </div>
</section>

<!-- End banner section -->
<div class="mar_25">
<news-updates></news-updates></div>
<!-- End Home section -->

<section id="prizes">
    <div class="container">
        <div class="section-title">
            <h1 class="heading bold"><i class="fa fa-"></i><span>SmartKid</span>  General Knowledge Olympiad</h1>
            <hr class="style17">
        </div>
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            About SmartKid General Knowledge Olympiad
                        </a>
                        <a href="#" class="list-group-item text-center">
                            About Test Paper
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Syllabus & Sample Question Papers
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Prizes, Dates & Venue
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Order Books
                        </a>
                        <a href="#" class="list-group-item text-center">
                            Sample Answer Sheet (PDF)
                        </a>
                         <a ui-sref="downloads({ eventName: subjectName })" class="list-group-item text-center">
                            Download For School Only 
                        </a>
                    </div>
                    <div class="col-md-12">
            <a ui-sref="book_list"><img src="images/event_top/skgkos.png" class="img-responsive text-center" style="margin-top:40px;"></a>
        </div>
                    
                </div>
                    
                   <!-- <div class="gray"><a class="btn gray btn-lg btn-block" href="#">
                         Dpownload For School Only  </a></div>-->
              

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 bhoechie-tab ">
                    <!-- About section -->
                    <div class="bhoechie-tab-content active">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About SmartKid General Knowledge Olympiad</h1>
                                <hr class="style17">
                             <!--   <img src="images/Olympiad/sse_skgk.png" class="img-rounded center-block">-->
                            </div>
                            <p>The Smart Kid General Knowledge Olympiad, a test of competence and proficiency in General Knowledge, (based on subjects like History, Geography, General Science, Current affairs and sport etc.) is held annually at the National levels based on syllabus prescribed by CBSE/ICSE and the State Boards. Detailed syllabus with Sample Question Paper is provided along with this Information Booklet. Please refer the Books published by Silverzone for the preparation of SKGKO. SSE recommends the competition for each and every student in the school.</p>


                            <h3> Fee Structure and Study Material</h3>
                            <p><span>Fee Structure and Study Material for school in India (for class 1<sup>st</sup> to 10<sup>th</sup>)</span> The participation fee for the Olympiad is Rs.120/- per student. The Study material for schools is available at the discounted price. The price of Olympiad Comprehensive Book is Rs. 120/- and Previous Year Question Paper is Rs. 150/- which is not included in the fee. </p>
                            <p> <span>Fee Structure :- For Schools Outside India (for class 1<sup>st</sup> to 10<sup>th</sup>)</span> The participation fee for the Olympiad is USD$ 8 per student. The Study material for schools is available at the discounted price. The price of Sample Question Paper Booklet is USD $4/-, which is not included in the fee.  </p>

                            <hr class="style18">
                            <h3> Payment Mode</h3>
                            <p>For Payment mode, please refer to the ‘School Registration Form’.</p>

                        </div>
                    </div>
                    <!-- About test paper section -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">About Test Paper</h1>
                                <hr class="style17">
                            </div>
                            <p>The language medium is English only. The examination is being conducted for all classes from 1<sup>st</sup> to 10<sup>th</sup> with the following details.</p>
                            <p>For Classes 1-2:- There will be 40 questions and the duration will be of 60 Minutes. </p>
                            <p>For Classes 3-10:- There will be 50 questions and the duration will be of 60 Minutes. </p>
                            <p>The details of the manner in which the test is to be conducted will be sent with the question papers. The questions will be of objective type in nature with multiple choice answers. There is no negative marking. For classes 3rd onward OMR answer sheets will be provided. </p>


                        </div>
                    </div>

                    <!-- Syllabus search -->
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Syllabus and Sample Question Papers</h1>
                                <hr class="style17">
                            </div>
                            <p>
                                The detailed Syllabus and Sample Test Paper are provided in this website, click the following links to download the Syllabus and Sample Test Paper class wise. For books please contact, School Coordinator or <a href="http://silverzone.org/" target="_blank">book your order online now</a>.
                            </p>
                            <p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 pad"
                                             align="center"
                                             ng-repeat="dt in subject_ndSyllabus_list" style="background:#f6f6f6;width:48%;margin:1%;">
                                            <h4 class="text-center">{{ dt.className }}</h4>
                                            <span>
                                                <a href="#" class="btn gray toggle-bar"
                                                   ng-click="dndFile(dt.data[0].dndUrl)">Syllabus</a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn gray  toggle-bar"
                                                   ng-click="dndFile(dt.data[1].dndUrl)">Sample Questions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">SKGKO - Prizes, Dates and Venue</h1>
                                <hr class="style17">
                            </div>
                            
                            
                             <table class="table table-hover" style="margin-top:20px;">
                     <thead>
                        <tr class="text-center">
                         
                           <th>Rank. No.</th>
                           <th>Award</th>
                           <th colspan="0">No of awards</th>
                          
                        </tr>
                     </thead>
                     <tbody>
                   <div class="row" style=" margin-top:20px;">
                    <div style="width:100%;text-align:center"><b>LEVEL-1 SCHOLARSHIP</b></div>
                        <tr>
                       <td>1<sup>st</sup></td>
                           <td>1<sup>st</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 10,000/- along with a winner’s Trophy.  </td>
                           <td>10</td>
                           </tr>
                           
                            <tr>
                       <td>2<sup>nd</sup></td>
                           <td>2<sup>nd</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 7,500/- along with a winner’s Trophy. </td>
                           <td>10</td>
                           </tr>
                           
                            <tr>
                       <td>3<sup>rd</sup></td>
                           <td>3<sup>rd</sup> Intl. Olympiad rank holder in each class will be awarded with a Cash Prize of Rs. 5,000/- along with a winner’s Trophy.  </td>
                           <td>5</td>
                           </tr>
                           
                           <tr>
                       <td>4<sup>th</sup> to 10<sup>th</sup></td>
                           <td>4<sup>th</sup> to 10<sup>th</sup> Intl. Olympiad rank holders in each class will be awarded with wrist watches.  </td>
                           <td>35</td>
                           </tr>
                           
                            <tr>
                       <td>11<sup>th</sup> to 25<sup>th</sup></td>
                           <td>11<sup>th</sup> to 25<sup>th</sup> Intl. Olympiad rank holders in each class will be awarded with exciting prizes. </td>
                           <td>75</td>
                           </tr>
                           
                            <tr>
                       <td>26<sup>th</sup> to 500<sup>th</sup></td>
                           <td>26<sup>th</sup> to 500<sup>th</sup> Intl. Olympiad rank holders in each class will be awarded with the topper achievement certificate. </td>
                           <td>475</td>
                           </tr>
                           
                            <tr>
                       <td>1<sup>th</sup>, 2<sup>th</sup> and 3<sup>th</sup></td>
                           <td>All State Rank 1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup> rank holders of all classes will be awarded with exciting prizes </td>
                           <td>--</td>
                           </tr>
                           
                           <tr>
                       <td>1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup></td>
                           <td>Class Topper 1<sup>st</sup>, 2<sup>nd</sup> 3<sup>rd</sup> rank holders of every class of each school will be awarded with Gold, Silver and Bronze medals respectively, provided the topper obtains at least 50% marks </td>
                           <td>--</td>
                           </tr>
                           
                            <tr>
                       <td>All</td>
                           <td>All the participants will be awarded with the participation Certificate reflecting their Class/State/Olympiad Ranks and Marks. </td>
                           <td>--</td>
                           </tr>
                           
                           </div>
                      </tbody>
                  </table>
                            
                          

                            <h3>Important Notes </h3>
                            <p><i class="fa fa-hand-o-right"></i>As SKGKO 2017 is being organised at National and International level, due to various reasons, it is not possible to conduct the Olympiad on a specific single date. The Smart Kid General Knowledge Olympiad will be conducted on 12<sup>th</sup> December 2017 and 16<sup>th</sup> January 2018. Please decide the date which is suitable to your school. </p>
                            <p><i class="fa fa-hand-o-right"></i>You may opt for either 12<sup>th</sup> December 2017 or 16<sup>th</sup> January 2018 as your International Social Studies Olympiad date. Last date of registration is 30days prior to olympiad date opted.</p>
                            <p><i class="fa fa-hand-o-right"></i>The Result of the 1<sup>st</sup> Level will be available at www.silverzone.org in the month of January 2018. </p>
                            <hr class="style18">
                            <h3>Dates and Venue </h3>
                            <p><i class="fa fa-hand-o-right"></i>The Registration for SKGKO'17 has already been started.</p>
                            <p><i class="fa fa-hand-o-right"></i>The SamrtKid General Knowledge Olympiad '17 will be held in December. '17/January. '18. </p>
                            <p><i class="fa fa-hand-o-right"></i>Last date of registration is 30<sup>th</sup> September 2017. </p>
                            <p><i class="fa fa-hand-o-right"></i>The Venue of the Olympiad will be the school itself.</p>
                            <p><i class="fa fa-hand-o-right"></i>The Result will be available at www.silverzone.org in the month of February '18. </p>
                            <p><i class="fa fa-hand-o-right"></i>The Awards and prizes will be sent to the school within 3-4 weeks after the Result is declared on our website. </p>



                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Order books</h1>
                                <hr class="style17">
                            </div>
                           
                            <p>
                                <span><i class="fa fa-hand-o-right"></i>Previous years' Question Papers -2016, 2015, 2014, 2013, 2012 and 2011. Subjects:- Mathematics, Science and English Only (Rs. 150/-):</span> The book contains Past years' question Papers of Mathematics, Science and English Olympiads with Answers.   <span>	(For maths, science and english only.)</span>
                                <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy Previous Year Question Papers' Book</a></div>
                            </p>


                            <hr class="style18">
                            
                            span><i class="fa fa-hand-o-right"></i>Olympiad comprehensive Book (Rs.120/-) :</span> The book contains the descriptive Study material covering brief information about topics of the prescribed syllabus along with examples and a few Sample Test papers.   <span>(For computer, math, science and english only)</span>

                            <div align="center"><a ui-sref="book_list" class="btn gray_1">Buy comprehensive Books</a></div></p>
                           
                            <hr class="style18">
                            
                            <p>
                            <span><i class="fa fa-hand-o-right"></i> 	INSTANT DOWNLOAD--PAST YEAR LEVEL-1 AND LEVEL-2 QUESTION PAPERS WITH ANSWER (Rs. 75/-)</span> Question Paper of year 2014 (Paper Type BB), 2015-16 (Paper Type AA) of Hindi, General Knowledge, Talent Hunt ,Social Studies and French Olympiads are available in PDF format for instant download. Each paper is available for download @Rs 75/-. This will help the aspirants to assess the pattern of the real examination paper, practice and prepare for cracking the top ranks.   <span> (Level-1 & Level-2 of 2014-15 and Level-1 of 2016)</span>
                            <div align="center"><a ui-sref="InstantDownloads" class="btn gray_1">Instant Download--Past Year Question Papers With Answer</a></div>
                        </p>


                    </div>

                    <div class="bhoechie-tab-content">
                        <div class="pad_shad">
                            <div class="section-title">
                                <h1 class="heading bold text-center">Sample Answer Sheet (PDF)</h1>
                                <hr class="style17">
                            </div>
                             <p>
                                <span><i class="fa fa-hand-o-right"></i>To download Sample Answer Sheet (PDF) click below link</span> 
                                <div align="left"><a href="#" class="btn gray_1" ng-click="downloadFile()">Sample Answer Sheet (PDF)</a></div>
                            </p>

                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
</section>

<olympiad></olympiad>
