
<div class="row heig"></div>

<!--<section id="banner">
    <div class="banner ts-faq-banner parallax-section">
        <img src="images/update.jpg" class=" img-responsive" alt="silverzone" />

    </div>
</section>


<news-updates></news-updates>-->


<!-- update section -->
<section id="about" class="parallax-section ">
    <div id="container_full">
        <div class="ts-promotional-banner2 parallax-section text-center">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1 class="heading bold"><i class="fa fa-"></i><span>News And </span> Update</h1>
                        <hr class="style17">
                    </div>


                    <div style="margin:20px 0px" class="row">

                        <div class="col-md-8 col-xs-12 text-justify">
                            <h2 class="heading ">1.&nbsp;Reasoning & Aptitude Olympiad launched in 2017</h2>

                            <p style="padding-left:20px;">
                                The International Reasoning & Mental Ability Olympiad (For Classes 6<sup>th</sup> to 12<sup>th</sup>), a test of competence and proficiency
                                in Reasoning & Aptitude is launched in 2017. The Olympiad is scheduled to be held annually
                                at the National and International levels based on syllabus designed by top level academicians
                                launched in 2017.
                                <a ui-sref="aboutSubject({subjectName: 'irao'})" class="btn gray" href="">View More...</a>
                            </p>
                           
                        </div>
                        <div class="col-md-4 col-xs-12">

                            <!--<img src="images/ReasoningBig.jpg" class="img-responsive img-thumbnail" alt="silverzone">-->

                        </div>
                    </div>

                    <div style="margin:20px 0px" class="row">

                        <div class="col-md-8 col-xs-12 text-justify">
                            <h2 class="heading ">2.&nbsp;3<sup>rd</sup> Level Awards Cermony 2016 </h2>
                            <p style="padding-left:20px;">
                                3<sup>rd</sup> Level Awards Cermony for 2016 participants was held on
                                Friday, 11th August 2017 at Lok Kala Manch , New Delhi. Top 30
                                participants across India were facilitated by Chief Guest Dr
                                Sanjeev Bansal- Dean, Amity University.
                                <a ui-sref="gallery_List" class="btn gray" href="">View More...</a>
                            </p>
                          
                        </div>

                        <div class="col-md-4 col-xs-12">

                            <!-- <img src="images/ReasoningBig.jpg" class="img-responsive img-thumbnail" alt="silverzone">-->
                        </div>
                    </div>

                    <div style="margin:20px 0px" class="row">

                        <div class="col-md-8 col-xs-12 text-justify">
                            <h2 class="heading ">3.&nbsp;Silverzone International Excursions 2017     </h2>

                            <ul class="fa-ul" style="font-size:14px;line-height:28px;">
                                <li class="space"><p>
                                    <i class="fa-li fa fa-circle" style="left: -1.142857em;top:15px"></i>&nbsp;&nbsp; NASA Excursion from 25<sup>th</sup> May 2017 to 6<sup>th</sup> June 2017 .
                                    Top 2 winners from iOM &iOS got the opportunity to visit United States of America with a 2 days  programme at Kennedy Space Centre, Florida.
                                    <a ui-sref="excersions({subjectName: 'nasa'})" style="color:#fd4326" href="">View More...</a></p>
                                </li>
                                <li class="space"><p>
                                    <i class="fa-li fa fa-circle" style="left: -1.142857em;top:15px"></i>&nbsp;&nbsp; United Kingdom from 7<sup>th</sup>
                                    June 2017 to 11<sup>th</sup> June 2017 for iOEL winners which includes visit /Enhancement programmes in London.
                                     <a ui-sref="excersions({subjectName: 'landon'})" style="color:#fd4326" href="">View More...</a></p>
                                </li>
                                <li class="space"><p>
                                    <i class="fa-li fa fa-circle" style="left: -1.142857em;top:15px"></i>&nbsp;&nbsp;Hong Kong from 23<sup>rd</sup> March 2017
                                    to 27<sup>th</sup> March 2017 for iIO winners to DisneyLand.
                                     <a ui-sref="excersions({subjectName: 'disney'})" style="color:#fd4326" href="">View More...</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div style="margin:20px 0px" class="row">
                        <div class="col-md-8 col-xs-12 text-justify">
                            <h2 class="heading ">4.&nbsp;Registration date Extended for Schools</h2>

                            <p style="padding-left:20px;">
                                The last date of registration for schools is extended.The schools
                                can send the registration till one month prior to the Olympiad dates
                                mentioned in the brochure.
                               
                            </p>
                            
                        </div>

                        <div class="col-md-4 col-xs-12">

                            <!-- <img src="images/ReasoningBig.jpg" class="img-responsive img-thumbnail" alt="silverzone">-->
                        </div>
                    </div>

                    <div style="margin:20px 0px" class="row">
                        <div class="col-md-8 col-xs-12 text-justify">
                            <h2 class="heading ">5.&nbsp;Level 3 Winners announced </h2>

                            <p style="padding-left:20px;">
                                Winners from Level 3  in iOM, iOS,iOEL, iIO have
                                been announced. To check the winners details pleas
                                e refer to www.silverzone.org under Results section.
                                 <a ui-sref="results" style="color:#fd4326" href="">View More...</a>
                            </p>
                            
                           
                        </div>

                        <div class="col-md-4 col-xs-12">

                            <!--<img src="images/ReasoningBig.jpg" class="img-responsive img-thumbnail" alt="silverzone">-->
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>

<!-- End update section -->