<div class="row heig"></div>

<section id="banner">
    <div class="banner ts-faq-banner parallax-section">
        <img src="images/About.jpg" class=" img-responsive" alt="silverzone" />

    </div>
</section>
<news_updates></news_updates>

<section id="about" class="parallax-section ">
    <div id="container_full">
        <div class="ts-promotional-banner2 parallax-section text-center">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h1 class="heading bold"><span>About Silverzone</span> Foundation</h1>
                        <hr class="style17">
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <img src="images/bn.png" class="img-responsive">

                    </div>

                    <div class="col-md-7 col-xs-12 text-justify">
                        <!--  <h2 class="heading ">About Silverzone Foundation</h2>-->

                        <p>Silverzone Foundation is an NGO, which aims in promoting competitive awareness of academics in school children in India and abroad. Over the years we have been in the process of creating this awareness among the students and school authorities by organizing and conducting International Olympiads. Our Olympiads create a platform for students from all ways of life to appear in various levels of competitive exams in the National/International level. We identify the outstanding performers on the basis of merit and give recognition in the form of Certificates, Medals, Trophies, and Prizes. </p>
                        <p>t has been years, Silverzone took her maiden stride into the domain of International Olympiads, thereby education. Today, it has come a long way to be the name to reckon with. During this long journey many Schools, Teachers, Principals, Administrators have joined us, in different periods, making our endeavour a sacred one. This has, therefore, been an effort of ‘Silverzone Foundation’ to celebrate the ‘Excellence in Education’. For we believe, honoring as such is honoring the ‘builders’ of our nation/tomorrow. We must say here that we are overwhelmed by the wholehearted and warm response to this noble effort of ours, from the length and breadth of the land.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<clients></clients>
<gallery></gallery>
<partners></partners>
