<div class="row heig"></div>
<!-- start banner section -->
<section id="banner">
    <div class="banner ts-faq-banner parallax-section">
        <img src="images/contact.png" class=" img-responsive" alt="silverzone" />
        <!--<div class="overlay"></div>
        <div class="banner-content text-center">
            <h2>Contact us</h2>
            <p>Start your project with us. We’d love to work with you</p>
            <div class="breadcrumbs"><a href="index.html">Home</a> <i>/</i> <i>Contact Us</i></div>
        </div>-->
    </div>
</section>

<news-updates></news-updates>


<section id="media" class="parallax-section" style="padding-bottom:0px;">
    <div id="container_full">
        <div class="ts-contact-support parallax-section" style="margin-bottom:0px!important;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ts-wrapper">
                            <div class="ts-contact-hotline text-center">
                                <div class="table-cell">
                                    <span class="ts-contact-icon"><i class="fa fa-support"></i></span>
                                    <div class="ts-contact-info">
                                        <h4>To be our agent / representative/Books distributor in your Territory</h4>
                                        <!--  <h3>(+91) 1234567890</h3>-->
                                        <a href="mailto:writetous@silverzone.org">writetous@silverzone.org</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ts-wrapper">
                            <div class="ts-contact-hotline text-center">
                                <div class="table-cell">
                                    <span class="ts-contact-icon"><i class="fa fa-search"></i></span>
                                    <div class="ts-contact-info">
                                        <h4>For vacancy</h4>
                                        <!-- <h3>(+91) 1234567890</h3>-->
                                        <a href="mailto:vacancy@silverzone.org">vacancy@silverzone.org</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ts-wrapper">
                            <div class="ts-contact-hotline text-center">
                                <div class="table-cell">
                                    <span class="ts-contact-icon"><i class="fa fa-handshake-o"></i></span>
                                    <div class="ts-contact-info">
                                        <h4>For Partnerships & Alliances </h4>
                                        <!--   <h3>(+91) 1234567890</h3>-->
                                        <a href="mailto:nakul@silverzone.org">nakul@silverzone.org</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ts-wrapper">
                            <div class="ts-contact-hotline text-center">
                                <div class="table-cell">
                                    <span class="ts-contact-icon"><i class="fa fa-globe"></i></span>
                                    <div class="ts-contact-info">
                                        <h4>For International Business</h4>
                                        <!--  <h3>(+91) 1234567890</h3>-->
                                        <a href="mailto:international.biz@silverzone.org">international.biz@silverzone.org</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="background:#d3e7f0;height:5px;width:100%;"></div>
        <div class="ts-contact-form parallax-section">
            <div class="container">
                <div class="row">
                    <!--<div class="col-sm-9">
                        <div class="ts-wrapper">
                            <div class="ts-section-title  text-left">
                                <h3>Get in touch with us!</h3>
                            </div>
                            <div class="ts-wrapper text-left">
                                <p>Effective communication is our goal in every aspect. Your correspondence is appreciated and will be responded immediately. </p>
                            </div>
                            <div class="screen-reader-response"></div>
                            <div style="padding-bottom:20px;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.051851784521!2d77.18634511456712!3d28.56820564374131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d84185aaaab%3A0xdadf7f483e76718a!2sSilverZone+Foundation!5e0!3m2!1sen!2sin!4v1488259162453" width="100%" height="260" frameborder="1" style="border:1;" allowfullscreen></iframe>
                            </div>
                            <form class="wpcf7-form" method="post" action="" onsubmit="sendmailchimp2(this); return false;">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <span class="name"><input type="text" name="name" required value="" size="40" placeholder="Name*" /></span><br />
                                        <span class=" subject"><input type="text" name="subject" value="" size="40" placeholder="Subject" /></span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <span class=" email"><input type="email" name="email" value="" size="40" required placeholder="Email*" /></span><br />
                                        <span class=" telephone"><input type="text" name="telephone" value="" size="40" placeholder="Telephone" /></span>
                                    </div>
                                </div>
                                <p>
                                    <span class=" comment"><textarea name="comment" cols="40" rows="5" required placeholder="Comment"></textarea></span>
                                    <input type="submit" value="Submit" class="btn btn-block gray" />
                                </p>
                                <div id="ts-message"></div>
                            </form>

                        </div>
                    </div>-->
                    <div class="col-sm-12">
                        <div class="ts-wrapper text-left">
                          
                             <div class="col-md-3 ts-contact-infomation left ts-contact-sidebar1 " style="border-right:1px solid #999;">
                             <div class="ts-section-title  text-left" style="margin-top:10px;">
                                <h3> <span>Corporate Office</span></h3>
                            </div>
                            <div class="col-md-12">
                             
                             <h4>New Delhi</h4>
                                <p>B-2, Ansal Chamber II, Bhikaji Cama Place, New Delhi - 110066, India.</p>
                                <span>Email</span>: <a href="mailto:info@silverzone.org">info@silverzone.org</a><br />
                                <!--  <span>Phone</span>: (+91) 11-2616 6210/11/12<br />
                                  <span>Fax</span>:  (+91) 11-26166216<br />-->
                            </div>
                            
                            </div>
                            <div class="col-md-9 ts-contact-infomation left ts-contact-sidebar1" >
                             <div class="ts-section-title  text-left" style="margin-top:10px;">
                                <h3 style="padding-left:15px;"> <span>Branch Offices</span></h3>
                            </div>

                            <div class="col-md-4">
                            
                            
                                <h4>Mumbai</h4>
                                <p>35, Ground Floor, Shri Guru Singh Sabha, Dr. Ambedkar Road, Dadar(E), Mumbai - 400014, India. </p>
                                <!-- <span>Email</span>: <a href="">info@silverzone.org</a><br />
                                  <span>Phone</span>: (+91) 1234567890<br />
                                  <span>Fax</span>:  (+91) 1234567890<br />-->
                            </div>

                            <div class="col-md-4">
                                <h4>Kolkata</h4>
                                <p>310/3, 3rd Floor, Ganpati Chamber, 7/1 A, Grant Lane, Kolkata - 700012, India.</p>
                                <!--<span>Email</span>: <a href="">info@silverzone.org</a><br />
                                <span>Phone</span>: (+91) 1234567890<br />
                                <span>Fax</span>:  (+91) 1234567890<br />-->
                            </div>
                            <div class="col-md-4">
                                <h4>Patna</h4>
                                <p>V 18, Vivek Nagar, East Boring Canal Road, Patna - 800001, India.</p>
                                <!--<span>Email</span>: <a href="">info@silverzone.org</a><br />
                                <span>Phone</span>: (+91) 1234567890<br />
                                 <span>Fax</span>:  (+91) 1234567890<br />-->
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts-contact-padding parallax-section">
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.051851784521!2d77.18634511456712!3d28.56820564374131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d84185aaaab%3A0xdadf7f483e76718a!2sSilverZone+Foundation!5e0!3m2!1sen!2sin!4v1488259162453" width="100%" height="300" frameborder="1" style="border:1;" allowfullscreen></iframe>-->
        </div>
    </div>
</section>
