
 <!-- Home section -->
<section id="home" class="effect5">
    <div class="container-fluid">
        <div class="row">
            <img src="images/event_top/main.jpg" class="img-responsive">
        </div>

    </div>
</section>
<div class="mar_25">
<news-updates></news-updates></div>

<!-- End Home section -->
<div class="aos-animate" data-aos="fade-up"  data-aos-delay="100">
<olympiad></olympiad>
</div>

<!-- mobile app section-->
<section id="mobile">
    <div class="container">
        <div class="row">
            <div class="section-title aos-animate" data-aos="fade-in-up"  data-aos-delay="500">
                <h1 class="heading bold"><span>Mobile App:</span> Silverzone Olympiad Tutor</h1>
                <hr class="style17">
            </div>
            <div class="col-md-12 aos-animate" data-aos="fade-in-up"  data-aos-delay="500">
                <img src="images/MobileAppBig.png" class="img-responsive img-thumbnail" alt="silverzone" />
                <br />
            </div>
            <div class="col-md-12 text-justify">

                <p>

                </p>
                <div class="col-md-3 text-left aos-animate" data-aos="fade-in-up"  data-aos-delay="200">
                    <h3>To  Download Android App:</h3>
                    <a href="https://play.google.com/store/apps/details?id=com.webshuttle.silverzoneolympiad" target="_blank"><img src="images/android.png" style="width:150px;height:50px;" class="img-responsive" alt="silverzone" /></a>
                </div>
                <div class="col-md-3 text-left aos-animate" data-aos="fade-in-up"  data-aos-delay="200">
                    <h3>To  Download iOS App:</h3>
                    <a href="https://itunes.apple.com/in/app/silverzone-olympiad-tutor/id1071051104?mt=8" target="_blank"><img src="images/ios.png" style="width:150px;height:50px;" class="img-responsive" alt="silverzone" /></a>
                </div>
                  <div class="col-md-1 text-center" ></div>
                
                <div class="col-md-5 text-left aos-animate" data-aos="fade-in-up"  data-aos-delay="300" >
                    <h3>To Explore, please visit:</h3>
                    <a href="http://www.silverzonementor.com/Account/UserLogin" target="_blank" style="background:none"><img src="images/mentor.png" style="width:375px;height:50px;" class="img-responsive" alt="silverzone" /></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</section>

<!-- end mobile app section-->
s
<!-- past section -->
<section id="pastyear" >
  <div class="container">
<div class="row">

 <div class="section-title aos-animate"  data-aos="fade-in-up"  data-aos-delay="200">
                <h1 class="heading bold"><span>Study</span> Material</h1>
                <hr class="style17">
            </div>
   <div class="col-md-12">
   <div class="col-md-20">
   <img src="images/events/Comprehensive-Cover.png"  class="img-responsive" style="width:100%" alt="" />
   <div class="ecaption">
    <h3>Comprehensive Book</h3>
       <a class="btn btn-default gray btn-lg btn-block" href="#" target="_blank" tabindex="0">Order Now</a>
           </div>
   </div>
   <div class="col-md-20">
  <img src="images/events/Excellance-Guide.png"  class="img-responsive" style="width:100%" alt="" />
    <div class="ecaption">
      <h3 >Excellence Guide</h3>
         <a class="btn btn-default gray btn-lg btn-block" href="#" target="_blank" tabindex="0">Order Now</a>
           </div>
   </div>
   <div class="col-md-20 ">
   <img src="images/events/Previous-Year-Cover.png"  class="img-responsive" style="width:100%" alt="" />
    <div class="ecaption">
      <h3>Question Bank (Pre.Yr. Paper)</h3>
         <a class="btn btn-default gray btn-lg btn-block" href="#" target="_blank" tabindex="0">Order Now</a>
           </div>
   </div>
   <div class="col-md-20 ">
  <img src="images/events/Reasoning-&-Aptitude-02.png"  class="img-responsive" style="width:100%" alt="" />
    
    <div class="ecaption">
      <h3 >Reasoning Guide</h3>
         <a class="btn btn-default gray btn-lg btn-block" href="#" target="_blank" tabindex="0">Order Now</a>
           </div>
   </div>
   <div class="col-md-20 ">
   <img src="images/events/Instant-Download.png"  class="img-responsive" style="width:100%" alt="" />
    <div class="ecaption">
      <h3>Instant Download</h3>
         <a class="btn btn-default gray btn-lg btn-block" href="#" target="_blank" tabindex="0">Order Now</a>
           </div>
   </div>
   </div>
</div>

    </div>
</section>
<!-- End past section -->




<!-- why section -->
<section id="why"
         style="display:none;">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1 class="heading bold"><span>Why</span> Silverzone</h1>
                <hr class="style17">
            </div>
            <div class="col-md-4 col-sm-6">
                <div><img src="images/silver-jone.png" class="img-responsive" style="padding:5px;" alt="" /></div>
            </div>
            <div class="col-md-8 col-sm-6">
                <p>
                    <ul class="fa-ul" style="margin-left:3.5em;">
                        <li class="space"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>International Platform to prove your mettle.</li>
                        <li class="space"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>More than 700 reputed schools have registered as our city centre from India and abroad.</li>
                        <li class="space"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Over 9000 schools from India and abroad are registered with us and has; conducted our Olympiads in school.</li>
                        <li class="space"><i class="fa-li fa fa-arrow-circle-o-right fa-2x"></i>Schools from over 14 countries from abroad conduct our Olympiads in their esteemed schools on a regular basis.</li>
                    </ul>
                </p>
                <div class="text-left"> <a ui-sref="aboutUs" class="btn gray">Read More...</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<!-- End why section -->

<clients></clients>

<gallery></gallery>

<partners></partners>


<!-- start table js-->
<script>
    (function() {
        var headertext = [];

        var headers = document.querySelectorAll("thead");
        var tablebody = document.querySelectorAll("tbody");

        for (var i = 0; i < headers.length; i++) {
            headertext[i] = [];
            for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
                var current = headrow;
                headertext[i].push(current.textContent.replace(/\r?\n|\r/, ""));
            }
        }

        if (headers.length > 0) {
            for (var h = 0, tbody; tbody = tablebody[h]; h++) {
                for (var i = 0, row; row = tbody.rows[i]; i++) {
                    for (var j = 0, col; col = row.cells[j]; j++) {
                        col.setAttribute("data-th", headertext[h][j]);
                    }
                }
            }
        }

    })();

</script>
<!-- end table js-->
