
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                            <div class="container-fluid ">
                                <div class="col-md-2">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <div class="pull-left">                                                                        
                                            <span ng-show="$root.UserInfo.ShowMenu && $root.UserInfo.HideShowMenu">
                                                <button class="btn d-btn pull-left"
                                                        type="button"
                                                        ng-click="$root.LeftMenu_Clic()">
                                                    <i class="{{$root.IsLeftMenu?'fa fa-bars':'fa fa-remove'}}">
                                                    </i>
                                                </button>
                                            </span>
                                            <span> <a class="navbar-brand" href="/ERP/Home"> <img src="images/sm-logo.png" class="img-responsive"></a></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-10 ">
                                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                                        <div class="padd col-md-9" ng-include="HeaderAction"></div>
                                        <div class="col-md-3 pull-right">                                           
                                            <ul ng-if="IsEventShow" class="nav navbar-nav">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle img-circle text-center {{SelectedEvent.EventColor}}" style="width:45px;height:45px;padding:12px 0px;margin-top:5px;color:#fff; border:1px red solid;"
                                                        href="#"  data-toggle="dropdown">
                                                       {{SelectedEvent.EventCode}}                                                
                                                    </a>
                                                                                                  
                                                    <ul class="dropdown-menu dropdown-block" role="menu">
                                                        <li ng-repeat="data in EventInfo">
                                                            <a href="#"
                                                               ng-click="ChangeEvent(data.EventId,'btn-danger')">
                                                                <span class="img-circle text-center sz_event_menu btn-danger" style="padding:5px;height:50px;width:50px;line-height:30px;">{{data.EventCode}}</span> {{data.SubjectName}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                                                                      
                                            

                                             <ul class="nav navbar-nav navbar-right" ng-show="$root.UserInfo.ShowMenu">
                                                <li class="dropdown">
                                                    <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <img ng-src="{{$root.UserInfo.ProfilePic}}" class="img-responsive img-thumbnail img-circle"> {{$root.UserInfo.UserName}}
                                                        <h6><span class="small">{{$root.UserInfo.RoleName}}</span></h6>
                                                    </a>
                                                   
                                                    <ul class="dropdown-menu dropdown-block" role="menu">
                                                        <li><a href="/ERP/Profile" >Profile</a></li>
                                                        <li><a href="#">Admin</a></li>
                                                        <li><a href="#" ng-click="Logout()">Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>

                        </nav>

                    </div>
                </div>
            </div>
          