
<div class="row">
    <div class="form-group col-md-2">
        <label>School Code :</label>
        <input class="form-control"
               only-numbers
               ng-change="SchMngt.SchCode.length>=5 && SearchSchool_KeyPress(SchMngt.SchCode)"
               ng-model="SchMngt.SchCode" />
    </div>


    <div class="form-group col-md-8">
        <label>School Name :</label>
        <span class="form-control"
              ng-bind="SchMngt.SchName"></span>
    </div>
    <div class="col-md-2">
        <label>Order :</label>
        <div class="input-group col-md-2" style="width:0px;margin-left:0em;">
            <select class="form-control"
                    ng-model="StudentEntry.EnrollmentOrderId"
                    name="EnrollmentOrderId"
                    ng-change="EnrollmentOrder_Change(StudentEntry.EnrollmentOrderId,true)"
                    ng-options="obj.Id as obj.OrderNo+' ('+obj.TotlaEnrollment+')' for obj in SchMngt.EventManagement.EnrollmentOrder">
                <option value="">---Order (No.of stu.)---</option>
            </select>
            <span class="input-group-addon" 
                  ng-if="!IsLotCreated"
                  ng-click="EditEnrollmentOrder(StudentEntry.EnrollmentOrderId)">
                <a href="#" style="text-decoration:none">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </div>
    </div>

    <!--<div class="form-group col-md-2">
        <label>Order :</label>
        <select class="form-control"
                ng-model="StudentEntry.EnrollmentOrderId"
                name="EnrollmentOrderId"
                ng-change="EnrollmentOrder_Change(StudentEntry.EnrollmentOrderId)"
                ng-options="obj.Id as obj.OrderNo+' ('+obj.TotlaEnrollment+')' for obj in SchMngt.EventManagement.EnrollmentOrder">
            <option value="">---Order (No.of stu.)---</option>
        </select>
    </div>-->
</div>

<div class="row">
    <div class="form-group col-md-2">
        <label>Class :</label>
        <select class="form-control"
                ng-model="StudentEntry.EnrollmentOrderDetailId"
                ng-change="Class_Change(StudentEntry.EnrollmentOrderDetailId)"
                name="ClassName"
                ng-options="obj.Id as obj.ClassName +' ('+obj.No_Of_Student+')' for obj in ClassList">
            <option value="">---Class (No.of stu.)---</option>
        </select>
    </div>

    <div class="form-group col-md-2">
        <label>Section :</label>
        <select class="form-control" name="Section" ng-model="StudentEntry.Section" ng-options="c for c in Section">
            <option value="">--Select Section--</option>
        </select>       
    </div>


    <div class="col-md-2 form-group">
        <label>Roll No :</label>
        <div class="input-group" style="width:0px;margin-left:0em;">
            <span class="input-group-addon">
                <label>
                    <input type="checkbox"
                           aria-label="Checkbox for following text input"
                           ng-click="AutoRollNo(IsAutoRollNo)"
                           ng-model="IsAutoRollNo"
                           ng-disabled="!StudentEntry.RollNo">
                    Auto
                </label>
            </span>
            <input type="text"
                   class="form-control"
                   aria-label="Text input with checkbox"
                   name="RollNo"
                   maxlength="3"
                   only-numbers
                   autofocus
                   ng-disabled="IsAutoRollNo"
                   ng-model="StudentEntry.RollNo">
        </div>
    </div>

    <div class="form-group col-md-2">
        <label>Name :</label>
        <input class="form-control"
               name="StudentName"
               maxlength="50"
               autofocus
               ng-model="StudentEntry.StudentName" />
    </div>
</div>